.irContainer {
    display: flex;
    min-height: 100vw;
}

@media (min-width: 1000px) {
    .cardColumns {
        margin: 15px;
        overflow: visible;
    }
}

@media (max-width: 1000px) {
    .cardColumns {
        margin: 15px;
        overflow: hidden;
    }
}